@charset "utf-8";

#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../img/radio-tv.png") no-repeat;
}

#musica {
	display: block;
	position: relative;
	left: 575px;
	top: 480px;
}

#filme {
	display: block;
	position: relative;
	width: 440px;
	left: 90px;
	top: 65px;
}